html {
  background-size: 75%;
  background-repeat: no-repeat;
  background-color: ivory;
  /* background-image: url(https://lh3.googleusercontent.com/a0z5R-1lxWuMGVXIxjVIpHIsQSUT2k3S947UqOQfCb7TKHE-hYYGD9YAjz6-MnMbnYkkdPdswmhuhs5UkIMmCRu-1ZtFYldTaCxHLHlE17ZfYvq1h3_VbIVK0VT2WANCTnC38kEs7aZ-dYEj8mCJahFh0zUgWlL6QR3RFSV-VWNZj570FmF7YyTCR_eVMfin5DUlG2W-cJyAxF0fhXUIJ6ciNvHGwZrhpq88oPSxxukl0K44alCEx2ktCzlrojmX7GmRoCBi_uJh-1RhTq506xL9g0Zto2oXr_XBCXwJtWmQ7XQvGjTcP7LKUgtIGz9WrxE0ng2BDJJj37eCrCyr5jeUDCOzGyz_wj0cJ0qLcpolx0UOvhQo9lAWtAEIrap1l5XUJwpIxrpnIJuaB1q0yo1QQJz8TqXIxUg-UTWTkTZM5li21-l_R_iX5rp9jCLZ6WmX54CE523vbJZeVWHeqfzflsOGsEGUeW-eq2vaK7H0l9aNLhz6goCS1nhWDNwesfMWpc2wk3vKn_DksuemY6m86E-8YaSev3J7fnf7nbiguRMEOHeaex64d7SL8scIH4DEyaR9LEKo0mq54I_ev_MgGs94pmGf_1mYfg6qjBq5j6dm-nig819yAO7_1j2Z1kUo0jUPyhG27zJxTZOmHklA-qiSISM=s1458-no); */
}
.home-page-image {
  max-width: 100%;
}
li {
  list-style: none;
}