h1 {
  padding: 0.5rem;
}
h2 {
  padding: 0.5rem;
}
.weather-background {
  background-color: skyblue;
  
}
.weather-form {
  padding: 0.5rem;
}
.weather-container {
  display: flex;
}
.route-list {
  background-color: black;
  color: skyblue;
}
.list-of-routes {
  background-color: black;
  list-style: none;
}
.button-container {
  max-width: 50%;
}
.route-info-container {
  min-width: 50%;
}
.weather-info-container {
  background-color: #6D9DC5;
  max-width: 40%;
  padding: 0.5rem;
}