@media (max-width: 600px) {
  html {
    font-size: 16px;
    max-height:100%
  }
 .weather-container {
   display: block !important;
 }
 .route-info-container {
   width:100%;
   margin:0% !important;
 }
  .route-list {
    border-radius: 10px !important;
  }
}
.weather-background {
  background-color: #e26d5c;
  border-radius: 10px;
}
.flex-box {
  display: flex;
}
.weather-form {
  padding: 0.5rem;
}
.weather-container {
  display: flex;
  align-items: space-between;
  flex-direction: row;
}
.ink-color {
  color: #e26d5c;
}
.route-list {
  background-color: black;
  color: #e26d5c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 1.5rem;
}
.list-of-routes {
  background-color: black;
  list-style: none;
  border-radius: 10px;
  margin:0;
  overflow: scroll;
  height: 400px;
}
.pad-me {
  padding: 1rem;
}
.button-container {
  /* max-width: 50%; */
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 0.25rem;
}
.route-info-container {
  min-width: 50%;
  margin-left: 20%;
}
.weather-info-container {
  background-color: #6D9DC5;
  /* max-width: 50%; */
  padding: 0.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
body{
  margin: 20px;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
.button {
  /* text styles */
  font-size: 11px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  
  /* box styles */
  display: inline-block;
  height: 19px;
  padding: 0 10px;
  border: 1px solid;
  border-color: #2d86b6 #24659e #255796;
  border-radius: 21px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(1, 4, 8, 0.2);
  margin: 0.20rem;
  
  /* gradients */
  background-color: #e26d5c;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF52B6EC', endColorstr='#FF2E75CE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e26d5c), color-stop(100%, #a16b2c));
  background-image: -webkit-linear-gradient(to top, #e26d5c 0%, #a16b2c 100%);
  background-image: -moz-linear-gradient(to top, #e26d5c 0%, #a16b2c 100%);
  background-image: -o-linear-gradient(to top, #e26d5c 0%, #a16b2c 100%);
  background-image: linear-gradient(to top, #e26d5c 0%, #a16b2c 100%);
    
}
.button:hover {
  text-decoration: none;
  border-color: #377cae #175a9c #0c4893;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(5, 64, 140, 0.2);
  
  background-color: #4fa6e4;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4FA6E4', endColorstr='#FF1462C4');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e26d5c), color-stop(100%, #a16b2c));
  background-image: -webkit-linear-gradient(to top, #e26d5c 0%, #a16b2c 100%);
  background-image: -moz-linear-gradient(to top, #e26d5c 0%, #a16b2c 100%);
  background-image: -o-linear-gradient(to top, #e26d5c 0%, #a16b2c 100%);
  background-image: linear-gradient(to top, #e26d5c 0%, #a16b2c 100%);
}
.button:active {
  border-color: #094b84 #094b84 #0f4585;
  box-shadow: 0 1px 1px rgba(241, 243, 247, 0.2), 0 0 20px rgba(0, 0, 0, 0.5) inset;
  
  background-color: #1c7ec9;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF1C7EC9', endColorstr='#FF2395D9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e26d5c), color-stop(100%, #a16b2c));
  background-image: -webkit-linear-gradient(to top, #e26d5c 0%, #a16b2c 100%);
  background-image: -moz-linear-gradient(to top, #e26d5c 0%, #a16b2c 100%);
  background-image: -o-linear-gradient(to top, #e26d5c 0%, #a16b2c 100%);
  background-image: linear-gradient(to top, #e26d5c 0%, #a16b2c 100%);
}
.zero-margin {
  margin: 0;
}
.pad-it-good {
  padding-left: 1rem;
  margin-bottom:  0;
}