h6 {
  background-color: blue;  
  margin-right: 80%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25rem;
}
h5 {
  background-color: blue;  
  margin-right: 80%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25rem;
}
.route-input-page {
  background-image: url(../Pics/TheClimberBG.jpg);
  color: antiquewhite;
  background-repeat: no-repeat;
  background-size: cover;
}
.equipment-list {
  display: flex;
  flex-direction: column;
  background-color: blue;
  margin-right: 80%;
  margin-bottom: 0;
}